@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 1.5rem;
}