.footer-text {
    color: #999999;
}

.footer-links {
    color: hsla(0, 100%, 50%, 0.651);
    text-decoration: none;
}

.footer-links:hover {
    color: hsla(0, 100%, 50%, 1);
}

.footer {
    margin-top: 3rem;
    padding: 1rem 0;
}